@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Olá, Seja Bem-vindo</h1>

<hr />

<button type="button" class="btn btn-primary"><i class="bi bi-house"></i>Home</button>
<button type="button" class="btn btn-secondary"><i class="bi bi-person"></i>Nome</button>
<button type="button" class="btn btn-success"><i class="bi bi-book"></i>Curso</button>
<button type="button" class="btn btn-link">Link</button>

